{% setcontent homepage = 'homepage' limit 1 returnsingle %}
<h1>{{ homepage.title|default('no title') }}</h1>
<h2>Call testFunction()</h2>
{#{ testFunction() }#}

<pre>
Test only
User: admin/admin
</pre>
